Data Viz Project 1

This project is focused on identifying correlations between laptop components and laptop price. It is also designed so that we can get a better understanding of the pricing on laptops.

Dataset was loaded from kaggle:
https://www.kaggle.com/datasets/mrsimple07/laptoppriceprediction

In [1]:
import pandas as pd # Data analysis and visualization
import datetime as dt # Data Visualization
import urllib # Getting files from the web
import zipfile # Working with zip files
import sqlite3 # Working with a SQLite database
import json # Working with JSON data
import matplotlib.pyplot  as plt # Data visualization
import numpy as np # Support large, multi-dimensional arrays and matrice

In [2]:
laptop_price_url = r'C:\Users\Vulcan\OneDrive - Madison College\dataSetExplore\laptop_prices\data\Laptop_price.csv'
df = pd.read_csv(laptop_price_url)

laptop_db = 'laptops.db'

conn = sqlite3.connect(laptop_db)

table_name = 'Laptop Prices'
df.to_sql(table_name, conn, index=False, if_exists='replace')

conn.close()

In [3]:
summary_table = df.describe()
summary_table

,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.750611,15.500000,584.576000,14.056790,3.466919,19604.187963
std,0.731796,10.988665,313.438517,1.705882,0.866541,9406.064880
min,1.511580,4.000000,256.000000,11.012111,2.000560,8570.012950
25%,2.089246,8.000000,256.000000,12.635523,2.717211,10114.012948
50%,2.760885,16.000000,512.000000,14.099643,3.464630,17287.241878
75%,3.362610,32.000000,1000.000000,15.528590,4.212583,31566.214754
max,3.998534,32.000000,1000.000000,16.985737,4.990728,33503.935037

In [4]:
print(df.head())

    Brand  Processor_Speed  RAM_Size  Storage_Capacity  Screen_Size    Weight  \
0    Asus         3.830296        16               512    11.185147  2.641094
1    Acer         2.912833         4              1000    11.311372  3.260012
2  Lenovo         3.241627         4               256    11.853023  2.029061
3    Acer         3.806248        16               512    12.280360  4.573865
4    Acer         3.268097        32              1000    14.990877  4.193472

          Price
0  17395.093065
1  31607.605919
2   9291.023542
3  17436.728334
4  32917.990718

In [8]:
# Connect to the SQLite database
laptop_db = 'laptops.db'
conn = sqlite3.connect(laptop_db)

# Define your SQL query
query = "SELECT * FROM 'Laptop Prices'"

# Execute the query and read the result into a DataFrame
result_df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Display the result DataFrame
result_df.head()  # You can adjust the number of rows displayed as needed

,Brand,Processor_Speed,RAM_Size,Storage_Capacity,Screen_Size,Weight,Price
0,Asus,3.830296,16,512,11.185147,2.641094,17395.093065
1,Acer,2.912833,4,1000,11.311372,3.260012,31607.605919
2,Lenovo,3.241627,4,256,11.853023,2.029061,9291.023542
3,Acer,3.806248,16,512,12.280360,4.573865,17436.728334
4,Acer,3.268097,32,1000,14.990877,4.193472,32917.990718

In [32]:
# Connect to the SQLite database
%sql sqlite:///laptops.db

# Define the SQL query to get the count of unique brands
brand_count = %sql SELECT COUNT(DISTINCT Brand) AS BrandCount FROM 'Laptop Prices'

# Display the result
brand_count

 * sqlite:///laptops.db
Done.

[(5,)]

In [33]:
%sql SELECT Brand, MAX(Price) AS MaxPrice FROM 'Laptop Prices' GROUP BY Brand ORDER BY Price DESC;

 * sqlite:///laptops.db
Done.

[('Lenovo', 33503.93503731473),
 ('Dell', 33489.96968925737),
 ('Acer', 33370.4420797472),
 ('HP', 33309.86950091103),
 ('Asus', 33239.412259576195)]